$theme-color: #409eff;
$bg-color: #fff;
$divider-color: #dcdfe6;
$hint-color: #c0c4cc;
$second-text-color: #909399;
$box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

@mixin ellipsis($w: auto) {
  width: $w;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
